# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
utils/datagen/tmp
utils/datagen/generated

# Files from Forge MDK
forge*changelog.txt
